/* Filename: style.css
   Author: Emma Lim
   Date Modified: October 25, 2022
*/



/*ALL PAGES--------------------------------------------------------------------*/

body {
    font-family: "Inter";
    color: #FAF9F6;
    background-color: #89AB66;
}

nav {
    font-family: "Inter";
    column-count: 3; 
    margin-top: 20px;
    margin-left: 12px;
    width: 50%;
}

#navBar {
    max-height: 56px;
}

main.content {
    background-color: #537150;
    min-height: 400px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 10%;
    border-radius: 15px 15px 15px 15px; /*topL, topR, bottomR, bottomL*/
}

main.contentWork {
    background-color: #537150;
    min-height: 400px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 10%;
    border-radius: 15px 15px 15px 15px; /*topL, topR, bottomR, bottomL*/
    align-content: center;
}

#designPageContent {
    background-color: #FAF9F6;
    color: #172741;
    min-height: 400px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 10%;
    border-radius: 15px 15px 15px 15px; /*topL, topR, bottomR, bottomL*/
}


/*EDITING TEXT-----------------------------------------------------------------*/

a {
    text-decoration: none;
}

a:hover { /*this code changes the appearance of the links when you hover over them*/
    text-decoration: none;
}

a:visited {
    color: #172741;
}


/*ABOUT PAGE-------------------------------------------------------------------*/
div.bio {
    column-count: 2;
    display: block;
}

#bioText {
    padding-top: 50px;
}


/*WORK PAGE--------------------------------------------------------------------*/
#projPreview {
    display: flex;
    text-align: center;
    column-count: 2;
}

div.projBlock {
    background-color: #FAF9F6;
    display: table;
    color: #172741;
    width: 90%;
    float: center;
    align-content: center;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 2%;
}

div.projBlock:hover {
    background-color: #89AB66;
}



/*IMAGES-----------------------------------------------------------------------*/
#aboutPic {
    max-width: 75%;
}




/*FOOTER-----------------------------------------------------------------------*/

footer.footerText {
    color: #172741;
    text-align: center;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

    
    
    
.contact{
    text-align: center;
    padding: 20px;
    color:rgb(5, 91, 71);
    font-family: "Inter";
}

.contact input{
    border: 0;
    border-radius: 5px;
	width: 30%;
	margin: 0 0 15px;
	padding: 15px;
	font-size: 20px;
    color:rgb(21, 21, 21);
    background-color: rgb(233, 233, 233);
}

#contactformBtn{
    border: 0;
    background-color:rgb(5, 91, 71);
    color: white;
    padding: 20px;
    width: 20%;
    font-size: 20px;
}







