/* Filename: style.css
   Author: Emma Lim
   Date Modified: October 25, 2022
*/



/*ALL PAGES--------------------------------------------------------------------*/

body {
    font-family: "Helvetica Neue";
    color: black;
    background-color: white;
}

main {
    width: 70%;
    float: right; 
    margin-right: 2%;
}

.left {
    width: 20%;
    float: left;
}



/*NAV BAR----------------------------------------------------------------------*/
nav {
    font-family: "Inter";
    font-size: 30px;
    width: 24%;
    float: left;
    position: fixed;

}

.navBar {
    padding-top: 24%;
}

.nav {
    margin-top: 30%;
}

.nav div{
    list-style: none;
    margin-bottom: 10%;
}


/*EDITING TEXT-----------------------------------------------------------------*/
a{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
}

h1{
    font-weight: normal;
}


/*ABOUT PAGE-------------------------------------------------------------------*/


/*WORK PAGE--------------------------------------------------------------------*/
#projType {
    display: flex;
    text-align: center;
    column-count: 3;
    margin-top: 5%;
}

.content{
    padding-top: 2%;
}

#projPreview {
    display: flex;
    text-align: center;
    margin-top: 5%;
}

/*tried to change the work gallery image on hover, this isn't working though*/
#galleryVR{
    background: url("images/work/VR/gallery_VR_0") no-repeat;
}

#galleryVR:hover{
    background: url("images/work/VR/gallery_VR_1") no-repeat;
}

/*IMAGES-----------------------------------------------------------------------*/


/*FOOTER-----------------------------------------------------------------------*/
.footerText{
    margin-top: 60%;
    font-size: 50%;
    padding-left: 12%;
}

/*FLEX CONTAINER---------------------------------------------------------------*/
.flex-container {
    display: flex;
    flex-direction: row;
    column-count: 2;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }