/* Filename: style.css
   Author: Emma Lim
   Date Modified: October 25, 2022
*/



/*ALL PAGES--------------------------------------------------------------------*/

body {
    color: black;
    background-color: white;
}

main {
    width: 70%;
    float: right; 
    margin-right: 2%;
    padding: 0;
    font-family: "Helvetica";

}

.left {
    width: 20%;
    float: left;
}



/*NAV BAR----------------------------------------------------------------------*/
nav {
    font-family: "Inter";
    font-size: 30px;
    width: 24%;
    float: left;
    position: fixed;
    box-shadow: 5px 10px 20px 5px #dee0e3;
    height: 100%;
}

.navBar {
    padding-top: 24%;
    height: 100%;
}

.nav {
    margin-top: 25%;
}

.nav div{
    list-style: none;
    margin-bottom: 10%;
}


/*EDITING TEXT-----------------------------------------------------------------*/
a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

h1{
    font-weight: normal;
}


/*ABOUT PAGE-------------------------------------------------------------------*/
#bioPic{
    padding:0;
    margin:0;
    max-width: 35%;
    float: left;
}

#bioText{
    max-width: 55%;
    float: right;
    margin-right: 2%;
}

/*WORK PAGE--------------------------------------------------------------------*/
#projType {
    display: flex;
    text-align: center;
    column-count: 3;
    margin-top: 5%;
}

.content{
    padding-top: 2%;
}

#projPreview {
    display: flex;
    text-align: center;
    margin-top: 5%;
}

.projBlock{
    padding: 0;
    padding-top: 2%;
    margin: 2%;
    border-radius: 15px;
    box-shadow: 5px 10px 20px 5px #dee0e3;
}

.projBlock:hover{
    box-shadow: 5px 10px 20px 5px #dee0e3;
}

.projBlock a:hover{
    text-decoration: none;
}

#projText{
    padding: 5%;
    padding-top: 2%;
}

.desc{
    box-shadow: 5px 10px 20px 5px #dee0e3;
    border-radius: 15px;
    padding: 2%;
    margin-bottom: 3%;
}

/*tried to change the work gallery image on hover, this isn't working though*/
#testBlock{
    background-image: url("/images/work/VR/gallery_VR_0") no-repeat;
}

#testBlock:hover{
    background-image: url("/images/work/VR/gallery_VR_1") no-repeat;
}

/*IMAGES-----------------------------------------------------------------------*/




/*FOOTER-----------------------------------------------------------------------*/
.footerText{
    font-size: 50%;
    padding-left: 12%;
    margin-bottom: 0;
    margin-top: 180px;
}

/*FLEX CONTAINER---------------------------------------------------------------*/
.flex-container {
    display: flex;
    flex-direction: row;
    column-count: 2;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }